{{ form_start(form, { method: 'POST', action: path('blog_comment_new', { 'slug': post.slug }) }) }}
<fieldset>
    <legend>Add a comment</legend>
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-primary pull-right" type="submit">Publish a comment</button>
    </div>
</fieldset>
{{ form_end(form) }}
